@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


html {
  overflow-y: scroll;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
